
.grid-container{
    display: grid;
    grid-template-columns: 100px 250px 100px;
    grid-template-rows: 40px 175px 40px;
    
}
    .front{
        grid-area: 1 / 1 / 3 / 3;
        background-color: #dddddd;
        padding: 10px 0;
        border-radius: 6px;
        box-shadow: 2px 2px 6px #aaaaaa;
        display: grid;
        grid-template-columns: 2fr 1fr;
        z-index: 1;

    }
        .total{
            grid-area: 1/1/2/2;
            margin: 25px 10px 0 10px;
        }
        .logo{
            grid-area: 1/2/2/3;
            margin: 10px 10px 0 0;
            justify-self: end;
        }
        .cardnum{
            grid-area: 2/1/2/3;
            margin: 10px;

        }
        .cardnum input{
            width: 95%;
            
        }
        .cardname{
            grid-area: 3/1/4/2;
            margin: 10px;
        }
        .cardexp{
            grid-area: 3/2/4/3;
            margin: 10px;
        }
        .cardexp input{
            width: 32%;
            flex-wrap: wrap;
        }
    .back{
        grid-area: 2 / 2 / 4 / 4;
        background-color: #dddddd;
        padding: 15px 0;
        border-radius: 6px;
        
        
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
        .magstripe{
            grid-area: 1 / 1 / 1 / 3;
            background-color: #444444;
            height: 40px;
            
        }
        .cvv{
            grid-area: 2 / 2 / 3 / 3;
            justify-content: end;
            margin-top: 60px;
        }
        .cvv input{
            width: 60%;
        }
    input{
        padding: 6px;
        border: 1px solid #444444;
        border-radius: 2px;
    }

 form button{
    margin-top: 20px;
    padding: 8px 20px;
    border: #444444 2px solid;
    border-radius: 6px;
    background-color: #efefef;
    color: #444444;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    left: 370px;
 }