@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Train+One&display=swap');
 :root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Train One", Arial, Helvetica, sans-serif;
 }

img {
	max-width: 100%;
}

body{
    width: 100%;
}


.title{
    display: flex;
    justify-content: center;
}
.title img{
    max-width: 100px;
    max-height: 100px;
}
h1{
    font-family: var(--secondary-font);
    font-size: 3rem;
}


header form{
    display: flex;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid;
}
header form input[type="search"]{
    flex-grow: 1;
    font-size: 1.2rem;
    padding: 0.5rem;
    
}
header form button{
    cursor: pointer;
    width: 40px;
}

.recipe-card{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem;
    font-family: var(--primary-font);
}
.recipe-card h2{
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: var(--primary-color);
}
.recipe-card p{
    font-size: 0.9rem;
    color: var(--text-dark);
    display: none;
}


.recipe-card img{
    margin: 10px;    
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social{
    display: flex;
    justify-content: center;
    
}
.social img{
    width: 40px;
    height: 40px;
    margin: 10px 10px;
}
footer a{
    text-decoration: none;
    color: var(--text-dark);
    font-size: 0.9rem;

}

@media (min-width: 600px) {
    img{
        max-width: 50%;
    }
    .recipe-card{
        flex-direction: row;
    }
    .recipe-card p{
        display: block;
    }
    footer{
    flex-direction: row-reverse;
    justify-content: space-between;
    }
}

@media (min-width: 960px){
    body{
        max-width: 960px;
        margin: 0 auto;
    }
}